@font-face {
    font-family: Rockwell;
    src: url("../fonts/Rock.ttf");
}

:root {
    --color-primary:  #5b86e6;
    --color-accent: #e65b7c;
    --color-gray: #949495;
    --shadow-primary: rgba(91, 134, 230, 0.5);
    --shadow-accent: rgba(230, 91, 124, 0.5);
}

body {
    background-color: #1f1c44;
    font-family: "Rockwell", serif;
}

.modal {
    width: 517px;
    height: 765px;
    border-radius: 10px;
    background-color: #fff;
    margin: 15px auto;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 337px;
}

.modal__title {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 65px;
}

.modal__text-bottom {
    margin-top: 55px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.modal__text-bottom a {
    color: #5b86e6;
    text-decoration: none;
}

.btn {
    width: 337px;
    height: 69px;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn--primary {
    background-color: var(--color-primary);
    box-shadow: 0 10px 24px -5px var(--shadow-primary);
}

.btn--accent {
    background-color: var(--color-accent);
    box-shadow: 0 10px 24px -5px var(--shadow-accent);
}

.btn--img {
    justify-content: start;
}

.btn__icon {
    width: 55px;
    height: 55px;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-block {
    margin-top: 55px;
}

.email-block__title {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-gray);
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-block__title::before {
    content: "";
    display: block;
    width: 55px;
    height: 0;
    border-bottom: 1px solid var(--color-gray);
}

.email-block__title::after {
    content: "";
    display: block;
    width: 55px;
    height: 0;
    border-bottom: 1px solid var(--color-gray);
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.input-group__label {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
}

.input-group__control {
    width: 337px;
    height: 69px;
    border: 1px solid #d9dced;
    border-radius: 5px;
    padding: 25px;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-gray);
}
